<html>

    <head>
        <title>Fresenius - Detalle Articulo</title>

        <style>


            .special div {
            border: 2px solid #f00;
            margin: -2px;
            }



        </style>

    </head>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">



    <body>

    <div><br><br>
     </div>



    <table style="height: 50px; margin-left: auto; margin-right: auto;" border="0" width="1200" cellspacing="0" cellpadding="5">
    <tbody>
    <tr>
    <td width=200px><img src="http://reflexpnt.pythonanywhere.com/media/GUI_pictures/logoFresenius.jpg" width="200" height="42" /></td>
    <td   width=700px>&nbsp;</td>
    <td valign="bottom"><strong>Especificaciones T&eacute;cnicas</strong></td>
    </tr>
    </tbody>
    </table>


     <div>

     </div>
        <br>




    <table style="height: 5px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" width="1200" cellspacing="0" cellpadding="3">
    <tbody>
    <tr >
    <td   width=320px bgcolor ="#0000e6"><font color="white"><font size="6"><strong>{{ compo.numeroParte }}</strong></td>
    <td   width=810px bgcolor ="#0000e6"><font color="white"><font size="6">{{ compo.titulo }}</td>
    <td align="center" valign="center" bgcolor = "#0000e6"> <div valign="bottom"><a href="{% url 'articulo_edit' pk=compo.pk %}"><img valign="bottom" border="0" alt="edit" src=../media/edit_icon2_white.png width="28" ></a></div>&nbsp;</td>
    </tr>

    </tbody>
    </table>





    <div><br>
     </div>


    <table style="height: 5px; margin-left: auto; margin-right: auto;" border="0" width="1200" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td style="width: 597px;" bgcolor="#d9d9d9"><strong>INFORMACI&Oacute;N PARA COMPRAS</strong></td>
    </tr>
    </tbody>
    </table>


    <div><br>
     </div>


    <table style="height: 96px; width: 1200px; margin-left: auto; margin-right: auto;" border="1" cellspacing="0" cellpadding="6">
    <tbody>
    <tr>
    <td style="width: 10px;"><strong>Marca</strong></td>
    <td style="width: 687px;">{{ compo.marca }}</td>
    <td style="width: 10px;"><strong>Reemplazable</strong></td>
        {% if compo.Reemplazable ==  True %}
            <td align="center" style="width: 10px;"><strong>SI</strong></td>
        {% else %}
            <td align="center" style="width: 10px;"><strong>NO</strong></td>
        {% endif %}
    </tr>
    <tr>
    <td style="width: 10px;"><strong>Mod./# Parte</strong></td>
    <td style="width: 687px;">{{ compo.modelo_NumParte }}</td>
    <td style="width: 10px;"><strong>Fab.a Pedido</strong></td>
        {% if compo.Fab_a_Pedido ==  True %}
            <td align="center" style="width: 10px;"><strong>SI</strong></td>
        {% else %}
            <td align="center" style="width: 10px;"><strong>NO</strong></td>
        {% endif %}
    </tr>
    <tr>
    <td style="width: 10px;"><strong>Linea</strong></td>
    <td style="width: 687px;">{{ compo.linea }}</td>
    <td style="width: 10px;"><strong>Plano</strong></td>
        {% if compo.Plano ==  True %}
            <td align="center" style="width: 10px;"><strong>SI</strong></td>
        {% else %}
            <td align="center" style="width: 10px;"><strong>NO</strong></td>
        {% endif %}





    </tr>
    <tr>
    <td style="width: 10px;"><strong>Comentarios</strong></td>
    <td style="width: 687px;">{{ compo.comentario }}</td>
    <td style="width: 10px;"><strong>Unidad</strong></td>
    <td align="center" style="width: 20px;">&nbsp;[&nbsp;{{ compo.unidad }}&nbsp;]</td>
    </tr>
    </tbody>
    </table>


   <div><br>
     </div>


    <table align="center" style="height: 5px; margin-left: auto; margin-right: auto;" border="0" width="1200" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td style="width: 597px;" bgcolor="#d9d9d9"><strong>DESCRIPCI&Oacute;N</strong></td>
    </tr>
    </tbody>
    </table>


    <table style="height: 300px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="15">
    <tbody>
    <tr >
    <td width=5px >&nbsp;</td>
    <td class="special" width=300px valign="center"><img src=http://freseniusmedicalcare.pythonanywhere.com/media/{{ compo.imagen_Pri_Nombre }} width="300"  /></td>
    <td width=5px >&nbsp;</td>
    <td   valign="top" align="left">{{ compo.Descripcion }}</td>
    </tr>
    <tr >
    <td >&nbsp;</td>
    <td align="center" >{{ compo.imagen_Pri_Nombre }}</td>
    <td >&nbsp;</td>
    <td >&nbsp;</td>
    </tr>
    </tbody>
    </table>



   <div><br>
     </div>


    <table style="height: 26px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
    <td style="width: 12px;" bgcolor="#d9d9d9">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#d9d9d9"><strong>CONTROLES / ENSAYOS</strong></td>
    </tr>
    <tr>
    <td style="width: 12px;" bgcolor="#ffffff">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#ffffff">{{ compo.Ensayos }}</td>
    </tr>
    </tbody>
    </table>

    <div><br>
     </div>


    <table style="height: 26px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
    <td style="width: 12px;" bgcolor="#d9d9d9">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#d9d9d9"><strong>REFERENCIAS</strong></td>
    </tr>
    <tr>
    <td style="width: 12px;" bgcolor="#ffffff">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#ffffff">{{ compo.Referencia2 }}</td>
    </tr>
    </tbody>
    </table>

    <div><br>
     </div>


    <table style="height: 26px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
    <td style="width: 12px;" bgcolor="#d9d9d9">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#d9d9d9"><strong>CONTROL DE CAMBIOS</strong></td>
    </tr>
    <tr>
    <td style="width: 12px;" bgcolor="#ffffff">&nbsp;</td>
    <td style="width: 1182px;" bgcolor="#ffffff"></td>
    </tr>
    </tbody>
    </table>
    <table style="width: 1200px; height: 50px; margin-left: auto; margin-right: auto;" border="1" cellspacing="0" cellpadding="3">
    <tbody>
    <tr>
    <td style="width: 10px;"><strong>Rev.</strong></td>
    <td style="width: 452px;"><strong>Modificaci&oacute;n</strong></td>
    <td style="width: 35px; text-align: center;"><strong>Fecha</strong></td>
    </tr>
    <tr>
    <td style="width: 10px; text-align: center;">00</td>
    <td style="width: 452px;">Emisi&oacute;n</td>
    <td style="width: 35px;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10px;">&nbsp;</td>
    <td style="width: 452px;">&nbsp;</td>
    <td style="width: 35px;">&nbsp;</td>
    </tr>
    </tbody>
    </table>


<div><br>
     </div>

    <table style="height: 4px; margin-left: auto; margin-right: auto;" border="0" width="1200" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td style="width: 603px;" bgcolor="#0000e6">&nbsp;</td>
    </tr>
    </tbody>
    </table>

    <table style="height: 12px; width: 1200px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="5">
    <tbody>
    <tr>
    <td style="width: 10px;">&nbsp;</td>
    <td style="width: 447px;"><strong>AR-PE-06-050 - Rev.00 - 15/06/2018</strong></td>
    </tr>
    </tbody>
    </table>

    <div><br><br>
     </div>
    <div><br><br>
     </div>
    <div><br><br>
     </div>
    <div><br><br>
     </div>
    <div><br><br>
     </div>









    </body>

</html>