<!doctype html>
<html>




    <head>
        <title>Fresenius Test</title>

<style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

th {
    cursor: pointer;
    background-color: #80aaff
}

th, td {
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


td.a {
    font-size: 12px;
}
</style>



    </head>




    <body>
        <ul class="sidebar-nav">
        {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Salir</a></li>
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Ingresar</a></li>
        {% endif %}
        </ul>

        <div>
            <p><h1>Fresenius Test Site 2</h1><h4>-    {{ articulosLOCAL_count }} articulos Locales de {{ articulos_count }} en DB</h4></p>

        </div>


        <div class="page-header">
                <a href="{% url 'articulo_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h1><a href="/">Fresenius</a></h1>
            </div>

        <br><br>

        <table  id="myTable" width="600px" class="tablesorter"  border="0" >
       <thead>
         <tr>


           <th> imagen </th>
           <th onclick="sortTable(1)"> SAP# </th>
           <th onclick="sortTable(2)"> Titulo </th>
           <th onclick="sortTable(3)"> Unidad </th>
           <td> PDF </td>


         </tr>
       </thead>

       <tbody >


        {% for articulo in articulos|dictsort:"SYS_Prioridad" %}
        <tr>



            <!--<td><a href=""><img border="1" alt="imagen" src=../media/{{ articulo.image }} width="50" ></a></td>-->
            <td><a href=../media/{{ articulo.imagen_pri }}><img border="0" alt="imagen" src=../media/{{ articulo.imagen_pri }} width="40" ></a></td>
            <td><h4><a href="{% url 'part_detail' pk=articulo.pk %}">{{ articulo.numeroParte }}</h4></a></td>
            <td class="a" ><p>{{ articulo.titulo }}</p></td>
            <td><p>[ {{ articulo.unidad }} ]</p></td>
            <td><a href="{% url 'part_pdf' pdf_art_id=articulo.pk %}">PDF</a></td>


        </tr>
        {% endfor %}

        </tbody>
     </table>






<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>





    </body>



</html>
